body {
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	background-color:#FFF;
	font-size:90%;
	color:#666;
	margin:0px;
	padding:0px;
}
.padding {
	margin:15px;	
}
br.clear {
	display:block;
	height:0px;
	clear:both;	
}
a {
	color:#6C0;	
}
p.small {
	font-size:75%;
	margin:0px;
	padding:0px;	
}
#stripe {
	overflow:hidden;
	height:28px;
	background-color:#66cc00;
	border-bottom:solid 3px #EEE;	
	margin-bottom:25px;
	color:#FFF;
	padding-top:7px;
}
#stripeInner {
	width:900px;
	margin:auto;	
}
#stripe #loginTools {
	float:right;
	width:500px;
	text-align:right;	
}
#stripe a.button {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;	
	background:rgba(255,255,255,.25);
	padding:4px;
	margin:2px;
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
}
#stripe a.button:hover {
	background:rgba(255,255,255,.35);
}
#container {
	border:none;
	width:800px;
	margin:auto;
	min-height:600px
}
#nav {


}
#nav ul {
	display:none;
	list-style:none;
	margin:0px;
	padding:0px;	
}
#nav li {
	width:200px;
	float:left;	
}
#nav li a {
	display:block;
	color:#666;
	font-size:115%;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	padding:5px;
}
#nav li a:hover {
	color:#FFF;
	background-color:#6C3;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;		
}
.box {
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;	
	border:solid 5px #eee;	
	padding:20px;
}
#container a.button {
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;		
	border:solid 5px #eee;
	background-color:#6C0;
	padding:8px;
	width:200px;
	font-size:25px;
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
	margin:20px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
#container a.button:hover {
	border:solid 5px #CCC;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
h1, h2, h3 {
	color:#333;
}
.txt {
	font-size:200%;	
	margin:5px;
	padding:10px;
	line-height:50px;
}
.number {
	font-size:150%;	
	font-weight:bold;
	-moz-border-radius:90px;
	-webkit-border-radius:90px;
	border-radius:90px;
	border: solid 5px #DDD;
	background-color:#EEE;
	text-align:center;
	height:50px;
	width:50px;
	display:block;
	float:left;
	clear:left;
	margin-right:20px;
}
body.dashboard #headline {
	height:215px;
	margin-top:10px;
	margin-bottom:15px;
	background-color: #f0fff0;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0fff0), to(#ccffcc));
	background: -webkit-linear-gradient(top, #f0fff0, #ccffcc);
	background: -moz-linear-gradient(top, #f0fff0, #ccffcc);
	background: -ms-linear-gradient(top, #f0fff0, #ccffcc);
	background: -o-linear-gradient(top, #f0fff0, #ccffcc);
}
body.dashboard #headline .selections { 
	float:left;
	width:350px;
}
body.dashboard #headline ul {

	list-style:none;
	margin:0px;
	margin-top:10px;
	padding:0px;

}
body.dashboard #headline li {
	width:325px;
	margin-top:8px;
}
body.dashboard #headline li a {
	display:block;
	line-height:30px;
	height:30px;
	background-color: #ddd;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ddd));
	background: -webkit-linear-gradient(top, #fff, #ddd);
	background: -moz-linear-gradient(top, #fff, #ddd);
	background: -ms-linear-gradient(top, #fff, #ddd);
	background: -o-linear-gradient(top, #fff, #ddd);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;	
	text-decoration:none;
	color:#666;
	font-weight:bold;
	padding-left:10px;
	-moz-box-shadow: 1px 1px rgba(0,0,0,.4);
	-webkit-box-shadow: 1px 1px rgba(0,0,0,.4);
    box-shadow: 1px 1px rgba(0,0,0,.4);	
	text-transform:uppercase;
}
body.dashboard #headline li a.active {
	background-color: #65d618;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#65d618), to(#33ae0c));
	background: -webkit-linear-gradient(top, #65d618, #33ae0c);
	background: -moz-linear-gradient(top, #65d618, #33ae0c);
	background: -ms-linear-gradient(top, #65d618, #33ae0c);
	background: -o-linear-gradient(top, #65d618, #33ae0c);
	color:#FFF;
}
body.dashboard #headline li a:hover {
	background-color: #FFC;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ffc));
	background: -webkit-linear-gradient(top, #fff, #ffc);
	background: -moz-linear-gradient(top, #fff, #ffc);
	background: -ms-linear-gradient(top, #fff, #ffc);
	background: -o-linear-gradient(top, #fff, #ffc);
}
body.dashboard #headline li a.active {
	background-color: #65d618;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#65d618), to(#33ae0c));
	background: -webkit-linear-gradient(top, #65d618, #33ae0c);
	background: -moz-linear-gradient(top, #65d618, #33ae0c);
	background: -ms-linear-gradient(top, #65d618, #33ae0c);
	background: -o-linear-gradient(top, #65d618, #33ae0c);
	color:#FFF;
}
body.dashboard #headline li a span {
	font-weight:normal;
	font-size:75%;	
	font-style:italic;
}
body.dashboard #headline .infoBox {
	float:right;
	width:420px;
}
body.dashboard #headline .infoBox h3 {
	color:#666;
	margin-top:10px;
	margin-bottom:0px;
	font-size:170%;
	font-weight:normal;
	text-transform:uppercase;
}
body.dashboard #headline .infoBox p {
	font-size:90%;
}
body.dashboard #eventFeed {
	float:left;
	width:525px;
	height:300px;
	overflow:auto;
	background:#EEE;
}
body.dashboard #eventFeed ul {
	list-style:none;
	margin:0px;
	padding:0px;
}
body.dashboard #eventFeed li {
	line-height:40px;
	margin-top:7px;
}
body.dashboard #eventFeed li a {
	display:block;
	height:30px;
	line-height:30px;
	padding-left:10px;
	-moz-box-shadow: 1px 1px rgba(0,0,0,.2);
	-webkit-box-shadow: 1px 1px rgba(0,0,0,.2);
    box-shadow: 1px 1px rgba(0,0,0,.2);
	text-decoration:none;
	color:#333;
	background:#FFF url(feedItemCorner.png) bottom right no-repeat;
}
body.dashboard #eventFeed li a:hover {
	border-bottom:solid 2px #999;
	height:28px;

}
body.dashboard #eventFeed .header {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;	
	background:#999;
	color:#FFF;
	padding:5px;
}
body.dashboard #eventFeed h4 {
	margin:0px;
	padding:0px;
}
body.dashboard #myEvents {
	float:right;
	width:250px;
	border:solid 1px #CCC;
	height:300px;
}
body.dashboard #myEvents a#createEventButton {
	display:block;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	line-height:40px;
	background:#6C0;
	color:#FFF;
	text-decoration:none;
	font-size:135%;
	font-weight:bold;
	text-align:center;
	border:solid 3px #DDD;
}
body.dashboard #myEvents ul {
	list-style:none;
	padding:0px;
	margin:0px;
	margin-top:15px;
}
body.dashboard #myEvents li {
	margin:5px;
}
body.dashboard #myEvents li a {
	display:block;
	border:solid 1px #666;
	line-height:25px;
	padding-left:10px;
	text-decoration:none;
	color:#333;
}
#footer {
	margin-top:25px;
	text-align:center;
	background-color:#FFF;
	color:#999;
	padding:20px;
	font-size:80%;
}